.root-list {
    margin: 2rem;
}

.sub-list {
    margin: 1rem;
}

.heading {
    margin-top: 1rem;
}

.action-button {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.action-button-group {
    padding: 0.4rem;
}

.font-mono {
    font-family: monospace;
}
